/Project/archive (sport Balls)/
!/Project/exp/
!/Project/datasets/
!/Project/experiments/ModelCNNExp1-20241214_T1LSKFMTJ/checkpoints/
!/Project/experiments/ModelCNNExp1-20241214_Z0AM0ZRUO/checkpoints/
